.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    background-color:var(--clr-bg-nav-dark);
    color: #fff;

    .brand-title{
        font-size: 1em;
        font-weight: bold;
        padding: 3px 0;
        margin:0.5em 3.5%;
        a{
            color: #fff;
            text-decoration: none;
        }
    }

    .navbar-links{ 
        margin-right: 1em;
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
        }
    }

    .navbar-links li{
        list-style: none;
        a{
            text-decoration: none;
            font-size: 0.9em;
            color: white;
            padding: 0.2em;
            &:hover,
            &:focus{
                transform: scale(1.04);
                background-color: var(--clr-bg-nav-icon);
                border-radius: 0.4em;
                border: 2px solid linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(204,225,9,1) 11%, rgba(176,179,223,1) 21%, rgba(221,18,76,1) 30%, rgba(198,223,16,1) 45%, rgba(196,33,15,1) 64%, rgba(243,246,10,1) 75%, rgba(246,244,10,1) 100%);;
            }
        }
    }
}
